*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-color:#548687 ;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
 align-items: center;
 gap: 1.5vmin;
 height: 100vh;
    width: 100vw;
}
.game{
  height:  60vmin; 
  width:60vmin;
 flex-wrap: wrap;
 display: flex;
 justify-content: center;
align-items: center;
 gap: 1.5vmin;

}
.box{
    height:18vmin ;
    width: 18vmin;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    cursor: pointer;
   background-color: antiquewhite;
   color: red;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;


}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
}

#msg{
    color: white;
    font-size: 8vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}